.pf {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.wgs {
  display: inline-block;
  height: 241px;
  position: relative;
  width: 320px;
  overflow: hidden;
}

.wgs__mole-head {
  height: 178px;
  position: absolute;
  width: 188px;
  left: 55px;
  transition: margin-top 0.25s;
}

.wgs__dirt-pile {
  height: 110px;
  position: absolute;
  width: 320px;
  top: 131px;
}

.wgs__mole-head--hidden {
  margin-top: 241px;
}

.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

.sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}